<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>用户管理</title>
    <link href="../css/public.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        #操作界面{
            /*background: white;*/
        }
    </style>
</head>
<body>
<div th:replace="public.html::上方导航"></div>
<div th:replace="public.html::左导航栏"></div>
<div id="操作界面">
    <form id="" th:action="@{/admin/updatePassword}" th:method="get">
        <p th:text="${updatePassword}"></p>
        <p>原密码：<input th:type="password" th:name="originalPassword" th:placeholder="请输入你的密码"></p>
        <p>要修改的密码：<input th:type="password" th:name="updatePassword" placeholder="请输入你修改后的密码"></p>
        <p> 再次输入<input th:type="password" th:name="rePassword" placeholder="请再次输入你的密码"></p>
        <p>
            <button type="submit" class="btn btn-success">确认</button>
            <a type="button" class="btn btn-info" th:href="@{/index}">取消</a>
        </p>
    </form>

</div>
</body>
</html>