<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movies.mapper.HomeMapper">

    <select id="getType" resultType="com.movies.pojo.Type">
        select * from type;
    </select>

    <select id="getMovie" resultType="com.movies.pojo.Movie">
        select * from movie;
    </select>

    <select id="getArea" resultType="String">
        select distinct m_area from movie;
    </select>

    <select id="select" resultType="com.movies.pojo.Movie">
        select * from movie
            <where>
                <if test="type!='all' and type!='' and type!=null and type!='%null%' and type!='%all%' ">
                    and m_type like #{type}
                </if>
                <if test="year!='all' and year!='' and year!='null%' and year!='all%' ">
                    and m_duration like #{year}
                </if>
                <if test="area!='all' and area!='' and area!=null ">
                    and m_area = #{area}
                </if>
            </where>
    </select>

    <select id="searchMovie" resultType="com.movies.pojo.Movie">
        select *  from movie
            <where>
                <if test="searchfield!='' and searchfield!=null and searchfield!='%%' and searchfield!='%null%' ">
                    and m_name like #{searchfield}
                </if>
            </where>
    </select>


</mapper>
